---
import Phone from "../icons/phone.svg";
import Clock from "../icons/clock.svg";
import Pin from "../icons/pin.svg";
---

<section>
  <div>
    <p></p>
    <h1></h1>
    <p></p>
  </div>
  <div>
    <div><Phone /></div>
    <div>
      <p>Call Today</p>
      <h5>+1 800 100 900</h5>
    </div>
  </div>
  <div>
    <div><Clock /></div>
    <div>
      <p>Monday To Friday</p>
      <h5>9AM - 5PM</h5>
    </div>
  </div>
  <div>
    <div><Pin /></div>
    <div>
      <p>USA Office</p>
      <h5>195 Devonshire St Boston, MA 02110</h5>
    </div>
  </div>
  <div class="pictures">
    <img src="../../public/images/en.png" alt="" />
    <img src="../../public/images/to.png" alt="" />
    <img src="../../public/images/tre.png" alt="" />
  </div>
</section>
