---
import "../styles/global.css";
---

<footer class="full-bleed">
  <section>
    <div>
      <h1>AskExperts</h1>
    </div>
    <div>
      <hr />
    </div>
    <div>
      <p>
        ©2022 Consultalk. All rights reserved | Terms of Service | Privacy
        Policy
      </p>
    </div>
  </section>
</footer>

<style>
  footer {
    background-color: var(--header-color);
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #ffffff;
  }

  hr {
    width: 100%;
    color: #707070;
  }
</style>
