---

---

<header class="full-bleed">
  <section>
    <div>
      <h1>AskExperts</h1>
    </div>
    <div>
      <a>Home</a>
      <a>Case Study</a>
      <a>Team</a>
      <a href="/about">About</a>
    </div>
    <div>
      <button>Login</button>
    </div>
  </section>
</header>

<style>
  @layer components {
    header {
      background-color: var(--header-color);
    }
    section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      color: #ffffff;
    }

    a {
      margin: 0, 1rem, 0, 1rem;
      text-decoration: none;
      color: var(--button-color-white);
    }

    h1 {
      font-size: var(--step-0);
    }

    button {
      padding: 0.5rem 1rem;
      background-color: var(--button-color);
      border-radius: 2rem;
    }
  }
</style>
