---

---

<header>
  <section>
    <div>
      <h1>AskExperts</h1>
    </div>
    <div>
      <a>Home</a>
      <a>Case Study</a>
      <a>Home</a>
      <a>Home</a>
    </div>
    <div>
      <button>Login</button>
    </div>
  </section>
</header>

<style>
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000;
    color: #ffffff;
  }
</style>
