---
import Checkmark from "../icons/checkmark.svg";
---

<section>
  <figure>
    <img class="en" src="../images/Pattern2.png" alt="" />
    <img class="to" src="../images/vision.jpg" alt="image of guy explaining" />
  </figure>
  <div class="text">
    <h5>WE'LL WORK WITH YOU</h5>
    <h1>Turn your ideas into reality.</h1>
    <p>
      Capitalize on low hanging fruit to identify a ballpark value added
      activity beta test. Override the digital divide with additional from
      DevOps.
    </p>
    <div class="checkmark">
      <div>
        <Checkmark class="check" />
        <p>
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day.
        </p>
      </div>
      <div>
        <Checkmark class="check" />
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added
          activity to beta test override the digital.
        </p>
      </div>
    </div>
  </div>
</section>

<article>
  <div>
    <h1>1128+</h1>
    <p>Successful Work</p>
  </div>
  <div>
    <h1>908+</h1>
    <p>Team member</p>
  </div>
  <div>
    <h1>258+</h1>
    <p>Happy Customers</p>
  </div>
  <div>
    <h1>564+</h1>
    <p>Creative Idea</p>
  </div>
</article>

<style>
  @layer components {
    section {
      display: grid;
      grid-column: content;
      grid-template-columns: subgrid;
      gap: 2rem;
      margin: 0 0 24% 0;
      height: 30svh;

      figure {
        display: grid;
        grid-column: 2;
        position: relative;
        height: 10svh;
        .en {
          position: absolute;
          top: 120%;
          right: 5%;
          z-index: -1;
          width: 40%;
        }
        &::before {
          content: "";
          background: #4eaf4e;
          width: 143px;
          height: 124px;
          position: absolute;
          top: 155%;
          right: 12%;
          z-index: 0;
          border-radius: 1rem;
        }
        .to {
          position: absolute;
          top: 185%;
          right: 20%;
          z-index: 0;
          height: 360px;
          width: 80%;
          object-fit: cover;
          object-position: 0% 30%;
          border-radius: 1rem;
        }
      }
      .text {
        h5 {
          background-color: var(--button-color-green);
          color: var(--font-color-white);
          width: fit-content;
          padding: var(--padding-kicker);
          border-radius: var(--border-rad);
        }

        > *:not(:first-child) {
          margin-top: 20px;
        }

        h1 {
          font-size: var(--step-3);
          font-weight: bold;
        }

        p {
          color: var(--font-color-alternate);
        }
        .checkmark {
          display: flex;
          flex-direction: column;
        }

        .checkmark div {
          display: flex;
          flex-direction: row;
          gap: 20px;
          align-items: start;
        }

        .checkmark div:not(:first-child) {
          margin-top: 20px;
        }

        .check {
          color: #4eaf4e;
          width: 30px;
          margin-top: 5px;
        }
      }
    }

    article {
      display: flex;
      grid-template-columns: subgrid;
      grid-column: content;
      justify-content: space-around;
      padding: 0 3rem 0 3rem;
      margin: 2% 0 10%;

      h1 {
        font-size: var(--step-3);
        font-weight: bold;
      }
    }
  }
</style>
