---
//@ts-nocheck
const servicesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/services"
).then((response) => response.json());
---

<div>
  <ul>
    {
      servicesData.services.map((service) => (
        <li>
          <h2>{service.title}</h2>
          <p>{service.description}</p>
          <a href="#0">{service.buttonText}</a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  ul {
    --gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rlh;
    max-inline-size: 1000px;
    margin-inline: auto;
    width: 100%;
    justify-items: center;
  }

  li {
    display: grid;
    grid-row: span 3;
    gap: 0;
    grid-template-rows: subgrid;
    background: rgba(38, 38, 38, 0.9);
    color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
  }
</style>
