---
//@ts-nocheck
const servicesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/services"
).then((response) => response.json());
---

<div class="full-bleed">
  <ul>
    {
      servicesData.services.map((service) => (
        <li>
          <h2>{service.title}</h2>
          <p>{service.description}</p>
          <a href="#0">{service.buttonText}</a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rlh;
    max-inline-size: 1000px;
    margin-inline: auto;
    width: 100%;
    justify-items: center;
    padding: 0;
    transform: translate(0%, -50%);
  }

  li {
    display: grid;
    grid-row: span 3;
    gap: 0;
    grid-template-rows: subgrid;
    background: rgba(38, 38, 38, 0.9);
    color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;

    > *:not(:first-child) {
      margin-top: var(--space-s);
    }

    :first-child {
      font-size: var(--step-0);
    }
  }

  a {
    padding: 1rem 1.5rem;
    background-color: var(--button-color-alternate);
    border-radius: 2rem;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: fit-content;
  }
</style>
