---
//@ts-nocheck
const servicesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/services"
).then((response) => response.json());
---

<ul>
  {
    servicesData.services.map((service) => (
      <li>
        <h2>{service.title}</h2>
        <p>{service.description}</p>
        <a href="#0">{service.buttonText}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    --gap: 1rlh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rlh;
    max-inline-size: 1000px;
    margin-inline: auto;
    padding: var(--gap);
    width: 100%;
    justify-items: center;
  }

  li {
    display: grid;
    grid-row: span 3;
    gap: 0;
    grid-template-rows: subgrid;
    background: oklch(90% 0.05 270);
    color: oklch(20% 0.15 270);
    border-radius: 6px;
  }
</style>
