---

---

<section>
  <div>
    <img
      src="../../public/images/whattoexpect.jpg"
      alt="image of guy explaining"
    />
  </div>
  <div>
    <h1>What To Expect</h1>
    <p>
      Our collaboration is built on transparency, efficiency, and measurable
      results. Together, we create strategies tailored to your unique needs and
      goals.
    </p>
    <p>
      Collaborate to build actionable strategies that drive sustainable growth
      and deliver tangible outcomes.
    </p>
    <p>
      Identify opportunities to optimize processes and implement impactful
      solutions with measurable results.
    </p>
  </div>
</section>

<style>
  @layer components {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }

    section > :first-child {
      grid-column: 1;
      width: 100%;
    }

    section > :last-child {
      grid-column: 2;
    }

    div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style>
