---

---

<section>
  <figure>
    <img class="en" src="../../public/images/Pattern.png" alt="" />
    <img
      class="to"
      src="../../public/images/whattoexpect.jpg"
      alt="image of guy explaining"
    />
  </figure>
  <div class="text">
    <h5>WE'LL WORK WITH YOU</h5>
    <h1>What To Expect</h1>
    <p>
      Our collaboration is built on transparency, efficiency, and measurable
      results. Together, we create strategies tailored to your unique needs and
      goals.
    </p>
    <p>
      Collaborate to build actionable strategies that drive sustainable growth
      and deliver tangible outcomes.
    </p>
    <p>
      Identify opportunities to optimize processes and implement impactful
      solutions with measurable results.
    </p>
  </div>
</section>

<style>
  @layer components {
    section {
      display: grid;
      grid-column: content;
      grid-template-columns: subgrid;
      gap: 2rem;
      margin: 5% 0 0 0;
      height: 30svh;

      figure {
        position: relative;
        height: 100%;
        .en {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
        &::before {
          content: "";
          background: #4eaf4e;
          width: 164px;
          height: 183px;
          position: absolute;
          top: 15%;
          left: 12%;
          z-index: 0;
          border-radius: 1rem;
        }
        .to {
          position: absolute;
          top: 30%;
          left: 20%;
          z-index: 0;
          height: 360px;
          width: 80%;
          object-fit: cover;
          object-position: 0% 30%;
          border-radius: 1rem;
        }
      }
      .text {
      }
    }
  }
</style>
