---

---

<!-- <section>
  <div>
    <img class="en" src="../../public/images/Pattern.png" alt="" />
    <img
      class="to"
      src="../../public/images/whattoexpect.jpg"
      alt="image of guy explaining"
    />
    <img class="tre" src="../../public/images/Background.png" alt="" />
  </div>
  <div>
    <h1>What To Expect</h1>
    <p>
      Our collaboration is built on transparency, efficiency, and measurable
      results. Together, we create strategies tailored to your unique needs and
      goals.
    </p>
    <p>
      Collaborate to build actionable strategies that drive sustainable growth
      and deliver tangible outcomes.
    </p>
    <p>
      Identify opportunities to optimize processes and implement impactful
      solutions with measurable results.
    </p>
  </div>
</section> -->
<section>
  <figure>
    <img class="en" src="../../public/images/Pattern.png" alt="" />
    <img
      class="to"
      src="../../public/images/whattoexpect.jpg"
      alt="image of guy explaining"
    />
  </figure>
  <div class="text">
    <h5>WE'LL WORK WITH YOU</h5>
    <h1>What To Expect</h1>
    <p>
      Our collaboration is built on transparency, efficiency, and measurable
      results. Together, we create strategies tailored to your unique needs and
      goals.
    </p>
    <p>
      Collaborate to build actionable strategies that drive sustainable growth
      and deliver tangible outcomes.
    </p>
    <p>
      Identify opportunities to optimize processes and implement impactful
      solutions with measurable results.
    </p>
  </div>
</section>

<style>
  @layer components {
    section {
      display: grid;
      grid-column: content;
      grid-template-columns: subgrid;
      gap: 2rem;
      margin: 10% 0 10% 0;

      figure {
        position: relative;
        display: block;
        .en {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          border-radius: 9px;
        }
        &::before {
          content: "";
          background: green;
          width: 164px;
          height: 183px;
          position: absolute;
          top: 20%;
          left: 17rem;
          z-index: -1;
          border-radius: 9px;
        }
        .to {
          position: absolute;
          top: 10%;
          left: 10%;
          z-index: 0;
          height: 300px;
          width: 1222px;
          object-fit: cover;
          border-radius: 1rem;
        }
      }
    }
    .text {
      contain: size;
    }
  }
</style>
