---

---

<section>
  <div>
    <img class="en" src="../../public/images/Pattern.png" alt="" />
    <img
      class="to"
      src="../../public/images/whattoexpect.jpg"
      alt="image of guy explaining"
    />
    <img class="tre" src="../../public/images/Background.png" alt="" />
  </div>
  <div>
    <h1>What To Expect</h1>
    <p>
      Our collaboration is built on transparency, efficiency, and measurable
      results. Together, we create strategies tailored to your unique needs and
      goals.
    </p>
    <p>
      Collaborate to build actionable strategies that drive sustainable growth
      and deliver tangible outcomes.
    </p>
    <p>
      Identify opportunities to optimize processes and implement impactful
      solutions with measurable results.
    </p>
  </div>
</section>

<style>
  @layer components {
    section {
      display: grid;
      grid-column: 2;
      grid-template-columns: 1fr 1fr;

      > :first-child {
        grid-column: 1;
        position: relative;
        height: 450px;
        width: 100%;
      }

      .en {
        object-fit: contain;
      }

      .to {
        height: auto%;
        width: 100%;
        object-fit: contain;
        position: absolute;
        z-index: 2;
      }

      .tre {
        position: absolute;
        z-index: 1;
        top: 10%;
        left: 10%;
      }
    }
  }
</style>
